.idea
._*
.DS_Store
.cache/
staticfiles/
media/
bower_components/
asylum/static/css/
asylum/static/js/
asylum/static/fonts/
venv/
.AppleDouble
.LSOverride
*.py[cod]
*.pyc
__pycache__
*.log
node_modules/
project/asylum/media/
*_backup.tar.gz
.git
