.idea
._*
.DS_Store
.cache/
staticfiles/
media/
bower_components/
asylum/static/css/
asylum/static/js/
asylum/static/fonts/
venv/
.AppleDouble
.LSOverride
*.py[cod]
*.pyc
__pycache__
*.log
node_modules
bower_components
project/node_modules/
project/bower_components/
project/asylum/media/
*_backup.*.gz
*.sql.gz
.git
