
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=CHANGEME!!!6gihlkt1lhmkpf8^n_%4m0)zljqgg=!bh&uaq*5qogl8^-wuay
DJANGO_ALLOWED_HOSTS=.example.com
DJANGO_SERVER_EMAIL=
DJANGO_SECURE_SSL_REDIRECT=False
