(english below the break)

Hei,

Seuraava maksu on kirjanpitomme mukaan maksamatta

Kuvaus: {{ transaction.tag }}
Eräpäivä: {{ transaction.stamp.date.isoformat }}
Viite: {{ transaction.reference }}
Summa: {{ due }} EUR
Tilinro: {{ iban }}

{% if barcode %}
Virtuaaliviivakoodi: {{ barcode }}
{% endif %}

Mikäli uskot että tässä on jokin virhe ole hyvä ja ota yhteyttä hallitukseen.

--------------

Hey,

According to our bookkeeping, the following payment is not made

Description: {{ transaction.tag }}
Due date: {{ transaction.stamp.date.isoformat }}
Reference: {{ transaction.reference }}
Amount due: {{ due }} EUR
IBAN Account number: {{ iban }}

{% if barcode %}
Virtual barcode: {{ barcode }}
{% endif %}

If you think there is some error here, please contact the board.
