DATABASE_URL=postgres://mydbuser:mydbpassword@localhost/asylum
MEMBERAPPLICATION_CALLBACKS_HANDLER=examples.handlers.ApplicationHandler
MEMBER_CALLBACKS_HANDLER=examples.handlers.MemberHandler
TRANSACTION_CALLBACKS_HANDLER=examples.handlers.TransactionHandler

DJANGO_ADMIN_URL=admin/
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_LOG_LEVEL=INFO
DJANGO_SECRET_KEY=CHANGEME!!!6gihlkt1lhmkpf8^n_%4m0)zljqgg=!bh&uaq*5qogl8^-wuay
DJANGO_ALLOWED_HOSTS=.example.com
DJANGO_SERVER_EMAIL=
DJANGO_SECURE_SSL_REDIRECT=False
NORDEA_UPLOAD_ENABLED=True
ORGANIZATION_NAME="Your great hacklab ry"
RECURRINGTRANSACTIONS_CALLBACKS_HANDLER=examples.handlers.RecurringTransactionsHolviHandler
MEMBEREXAMPLE_MEMBERSHIP_FEE=28.0
MEMBEREXAMPLE_MEMBERSHIP_TAG_PK=1
MEMBEREXAMPLE_MAILMAN_SUBSCRIBE="yourlist-request@yourcity.hacklab.fi"

HOLVI_POOL=yourpoolid
HOLVI_APIKEY=yourapikey

USE_SENTRY=True
DJANGO_SENTRY_DSN=http://example.com/
