{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
        <a href="{% url 'admin:app_list' app_label %}">{{app_label|capfirst|escape}}</a> &rsaquo;
        <a href="{% url opts|admin_urlname:'changelist' %}">{{opts.verbose_name_plural|capfirst}}</a> &rsaquo;
        {% trans "Upload "%}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <p>Helklo wolrd!</p>
        <div class="module">
        <p>Another world!</p>
        </div>
    </div>
{% endblock %}
