{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
        <a href="{% url 'admin:app_list' app_label %}">{{app_label|capfirst|escape}}</a> &rsaquo;
        <a href="{% url opts|admin_urlname:'changelist' %}">{{opts.verbose_name_plural|capfirst}}</a> &rsaquo;
        {% trans "Upload "%}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="module">
        {% if transactions %}
            <p>TODO: List transactions</p>
        {% else %}
            {% if not form %}
                <p>No form and no transactions, something is fucky</p>
            {% else %}
            <p>{% blocktrans %}Upload Nordea formatted transactions file in the form below{% endblocktrans %}</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <div class="actions_row">
                    <input type="submit" class="btn btn-primary" value="{% trans "Upload" %}" />
                    <a  class="btn btn-default" href="{% url opts|admin_urlname:'changelist' %}">{% trans "Cancel" %}</a>
                </div>
            </form>
            {% endif %}
        {% endif %}
        </div>
    </div>
{% endblock %}
