{% load bootstrap3 staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <meta name="description" content="">
        <meta name="author" content="">
        {% block extrameta %}{% endblock extrameta %}
    
        <title>{% block page_title %}Hello world!{% endblock page_title %}</title>
        <link href="{% static 'css/asylum.css' %}" rel="stylesheet">
    </head>

    <body class="{% block body_class %}{% endblock body_class %}">
    {% bootstrap_messages %}

    {% block navigation %}
    <nav class="site-nav">
        <a href="/" class="logo"></a>
        <ul class="language">
        </ul>
        <ul class="pages">
        </ul>
    </nav>
    {% endblock navigation %}

    <main id="top">
        {% block hero %}
        <section class="hero">
            <div class="hero-image"></div>
            <div class="hero-overlay"></div>
            <div class="hero-content">
                <div class="container text-center">
                    <h1>{% block main_title %}Hello world!{% endblock main_title %}</h1>
                    <h3>{{ settings.ORGANIZATION_NAME }}</h3>
                </div>
            </div>
        </section>
        {% endblock hero %}
        {% block content %}
        <div class="container-fluid">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor</p>
            <p>in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
             <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
        </div>
        {% endblock content %}
    </main>

    <script src="{% static 'js/asylum.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
    </body>
</html>